| <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg" style="height:100px"> | <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" style="height:150px"> |
| --- | --- |


# PANDAS - Statistic Aggregate

In [1]:
import pandas as pd

In [2]:
file = "hurricane_clean_dataset.csv"

df = pd.read_csv(file)

df

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
97,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
98,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
99,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
100,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
101,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

## 1. Fungsi Agregasi

Mengolah suatu data dapat menggunakan function atau fungsi .agg() untuk mengaplikasikan analisis statistik deskriptif.

In [64]:
# Total kematian akibat dari badai dapat diketahui dengan menggunakan fungsi "agg( 'sum' )"


df['Deaths'].agg('sum')

50505

In [6]:
# Jumlah badai yang terjadi dapat diketahui dengan menggunakan fungsi "agg( 'count' )"


df['Name'].agg('count')

102

In [13]:
# Rata - rata kecepatan angin pada badai yang terjadi dapat diketahui menggunakan fungsi "agg( 'mean' )"

df['Wind Speed (mph)'].agg('mean')

105.68627450980392

In [16]:
# Kerugian dan korban kematian minimum dari badai yang terjadi dapat diketahui dengan menggunakan fungsi "agg( 'min' )"


df[['Damages ($)', 'Deaths']].agg('min')

Damages ($)    8.0
Deaths         0.0
dtype: float64

In [23]:
# Kerugian dan korban kematian maksimum dari badai yang terjadi dapat diketahui dengan menggunakan fungsi "agg( 'max' )"


df[['Damages ($)', 'Deaths']].agg('max')

Damages ($)    1.250000e+11
Deaths         1.932500e+04
dtype: float64

## 2. GroupBy

Groupby adalah fungsi untuk mengelompokkan data lebih dari satu kolom berdasarkan satu kolom tertentu.

In [29]:
df

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
97,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
98,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
99,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
100,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
101,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

In [51]:
df.groupby(['Year'])['Deaths'].sum()

Year
1928     4210
1932     3103
1938      682
1947        1
1950       38
1951        7
1952        3
1953        9
1954       56
1955     1214
1956       16
1958       46
1959       41
1960        6
1961       79
1962       33
1963       15
1966      756
1967        3
1968       11
1969      264
1971        7
1972      128
1974     8210
1975        0
1977        0
1978        1
1979     2069
1980      269
1981        0
1982       23
1984        2
1985       31
1986       20
1987        1
1988      319
1989       16
1990       20
1991       13
1992       65
1994     1152
1995        1
1996      128
1997        9
1998    19325
2000       27
2001        0
2002        1
2003       56
2004      133
2005     3635
2006       11
2007      407
2008      545
2017     3195
2019       86
2021        7
Name: Deaths, dtype: int64

In [54]:
df.groupby(['Year']).sum().sort_values('Deaths', ascending = False)

C:\Users\HP\AppData\Local\Temp\ipykernel_1460\2110824257.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Year']).sum().sort_values('Deaths', ascending = False)

      Day  Wind Speed (mph)   Damages ($)  Deaths
Year
1998   26               180  6.200000e+09   19325
1974   14               110  1.800000e+09    8210
1928   20               250  1.020000e+08    4210
2005   59               595  1.413500e+11    3635
2017   23               355  1.564000e+11    3195
1932    5               175  4.000000e+07    3103
1979   39               250  1.560000e+09    2069
1955   81               570  8.205013e+08    1214
1994    8                85  5.940000e+08    1152
1966   28               165  2.290000e+08     756
1938   19               160  3.060000e+08     682
2008   53               170  2.171000e+08     545
2007   86               600  3.202000e+09     407
1988   20               265  7.102900e+09     319
1980    5               190  1.240000e+09     269
1969   37               265  1.450000e+09     264
2004   36               240  2.343000e+10     133
1972   14                90  2.100000e+09     128
1996   40               160  2.112000e+08     128
2019   18               310  5.025000e+09      86
1961   26               195  5.000030e+07      79
1992   23               175  2.650000e+10      65
2003   33               330  5.551000e+09      56
1954   24               110  2.000000e+06      56
1958   34               210  3.000000e+02      46
1959   44               245  9.500075e+06      41
1950   18               105  2.500000e+06      38
1962   55               190  2.100000e+06      33
1985   60               375  2.920000e+09      31
2000   33               165  1.080074e+07      27
1982    1                85  8.500000e+07      23
1990   27               160  4.910000e+06      20
1986   36               165  5.700000e+07      20
1956   76               275  2.848005e+07      16
1989   73               270  1.789000e+08      16
1963   40               210  4.660050e+07      15
1991   31                75  2.000000e+08      13
1968   13                85  1.870000e+07      11
2006   27               165  5.000002e+08      11
1997   16                80  1.000000e+08       9
1953   18               175  1.300250e+06       9
2021    4               125  8.000000e+07       7
1971   30               365  4.630000e+07       7
1951   27                90  3.000000e+06       7
1960    9                80  6.400000e+02       6
1967    8                85  1.500000e+02       3
1952   18               100  2.170000e+07       3
1984    5                90  1.520000e+08       2
1947    8               105  3.260000e+06       1
1987   19               150  5.080000e+02       1
2002   20                85  5.000000e+06       1
1995    3                75  1.700000e+06       1
1978   28                80  6.000000e+06       1
1975   23                85  6.200000e+06       0
1977    3                75  1.300000e+07       0
1981    7                80  1.500000e+07       0
2001   12                80  1.400000e+06       0

In [41]:
df.groupby(['Year'])['Name'].count()

Year
1928    2
1932    1
1938    1
1947    1
1950    1
1951    1
1952    1
1953    2
1954    1
1955    5
1956    3
1958    2
1959    3
1960    1
1961    2
1962    2
1963    2
1966    1
1967    1
1968    1
1969    2
1971    4
1972    1
1974    1
1975    1
1977    1
1978    1
1979    2
1980    1
1981    1
1982    1
1984    1
1985    4
1986    2
1987    2
1988    2
1989    3
1990    2
1991    1
1992    1
1994    1
1995    1
1996    2
1997    1
1998    1
2000    2
2001    1
2002    1
2003    3
2004    2
2005    5
2006    2
2007    5
2008    2
2017    2
2019    2
2021    1
Name: Name, dtype: int64

In [47]:
df.groupby(['Year'])['Wind Speed (mph)'].mean()

Year
1928    125.000000
1932    175.000000
1938    160.000000
1947    105.000000
1950    105.000000
1951     90.000000
1952    100.000000
1953     87.500000
1954    110.000000
1955    114.000000
1956     91.666667
1958    105.000000
1959     81.666667
1960     80.000000
1961     97.500000
1962     95.000000
1963    105.000000
1966    165.000000
1967     85.000000
1968     85.000000
1969    132.500000
1971     91.250000
1972     90.000000
1974    110.000000
1975     85.000000
1977     75.000000
1978     80.000000
1979    125.000000
1980    190.000000
1981     80.000000
1982     85.000000
1984     90.000000
1985     93.750000
1986     82.500000
1987     75.000000
1988    132.500000
1989     90.000000
1990     80.000000
1991     75.000000
1992    175.000000
1994     85.000000
1995     75.000000
1996     80.000000
1997     80.000000
1998    180.000000
2000     82.500000
2001     80.000000
2002     85.000000
2003    110.000000
2004    120.000000
2005    119.000000
2006     82.500000
2007    120.000000
2008     85.000000
2017    177.500000
2019    155.000000
2021    125.000000
Name: Wind Speed (mph), dtype: float64

In [61]:
df.groupby(['Year']).min().sort_values('Year', ascending = False)

,Name,Areas affected,Month,Day,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
Year,,,,,,,,
2021,Larry,"Bermuda, Newfoundland",September,4,125,955,8.000000e+07,7
2019,Dorian,"Dominican Republic, Haiti, Cuba, The Bahamas, ...",September,1,125,910,2.500000e+07,2
2017,Irma,"Cape Verde, The Caribbean, Virgin Islands, Cub...",September,5,175,908,6.480000e+10,138
2008,Hanna,"Puerto Rico, Hispaniola, Bermuda, New England,...",August,25,85,977,5.710000e+07,8
2007,Dean,Central Mexico,August,3,80,905,5.000000e+07,1
2006,Ernesto,"Bermuda, Newfoundland, United States East Coas...",August,3,75,974,2.000000e+02,0
2005,Cindy,"Bahamas, United States Gulf Coast",August,1,75,895,7.000000e+07,3
2004,Gaston,"The Caribbean, Venezuela, United States Gulf C...",August,9,75,910,1.300000e+08,9
2003,Claudette,"Florida, Mexico, Southern Texas",August,8,75,915,1.000000e+02,2
2002,Kyle,"Bermuda, Florida, Georgia, The Carolinas, Brit...",September,20,85,980,5.000000e+06,1
2001,Karen,"Bermuda, Atlantic Canada",October,12,80,982,1.400000e+06,0
2000,Debby,"Belize, Yucatin Peninsula, Cuba, United States...",August,14,80,981,7.350000e+02,1
1998,Mitch,"Central America, Yucatin Peninsula, South Florida",October,26,180,905,6.200000e+09,19325
1997,Danny,"Louisiana, Alabama, Southeastern United States...",July,16,80,984,1.000000e+08,9
1996,Cesar,"Cuba, Hispaniola, Central America, Jamaica, Fl...",July,16,75,983,8.200000e+06,15
1995,Allison,"Yucatin Peninsula, western Cuba, Florida, Geor...",June,3,75,987,1.700000e+06,1
1994,Gordon,"Central America, Cayman Islands, Jamaica, Hisp...",November,8,85,980,5.940000e+08,1152
1992,Andrew,"The Bahamas, Florida, United States Gulf Coast",August,23,175,922,2.650000e+10,65
1991,1991 Perfect Storm,"Northeastern United States, Mid-Atlantic state...",October,31,75,980,2.000000e+08,13
1990,Bertha,"Lesser Antilles, Puerto Rico, Hispaniola, Turk...",July,3,80,973,1.000000e+06,9
1989,Chantal,"Leeward Islands, Bermuda, North Carolina, Newf...",July,12,80,968,8.900000e+06,0
1988,Florence,"Jamaica, Venezuela, Central America, Hispaniol...",September,7,80,888,2.900000e+06,1
1987,Arlene,"Cuba, Florida, The Bahamas",August,9,75,987,8.000000e+00,0
1986,Bonnie,"Texas, Louisiana, Southeastern United States",August,13,80,987,1.500000e+07,5
1985,Bob,"Cuba, Mississippi",August,1,75,"1,002",2.000000e+07,5
1984,Klaus,"Puerto Rico, Leeward Islands",November,5,90,971,1.520000e+08,2
1982,Alberto,"Cuba, Florida",June,1,85,985,8.500000e+07,23
1981,Dennis,"Lesser Antilles, Greater Antilles, The Bahamas...",August,7,80,995,1.500000e+07,0
1980,Allen,"The Caribbean, Yucatin Peninsula, Mexico, Sout...",August,5,190,899,1.240000e+09,269
1979,Bob,"Louisiana, Mississippi, Alabama, Midwestern Un...",August,9,75,924,2.000000e+07,1
1978,Kendra,"Puerto Rico, United States East Coast",October,28,80,990,6.000000e+06,1
1977,Babe,"Florida, Louisiana, Alabama, Mississippi, Tenn...",September,3,75,995,1.300000e+07,0
1975,Blanche,"Maine, Nova Scotia",July,23,85,980,6.200000e+06,0
1974,Fifi,"Hispaniola, Jamaica, Mexico, Central America",September,14,110,971,1.800000e+09,8210
1972,Agnes,"Yucatin Peninsula, western Cuba, Florida Panha...",June,14,90,977,2.100000e+09,128
1971,Beth,"Bahamas, North Carolina",August,3,80,959,1.000000e+06,1
1969,Camille,"Cuba, United States Gulf Coast",August,16,90,900,3.000000e+07,5
1968,Gladys,"Cuba, Florida, United States East Coast, Nova ...",October,13,85,965,1.870000e+07,11
1967,Doria,United States East Coast,September,8,85,973,1.500000e+02,3
1966,Inez,"Greater Antilles, Florida, Mexico",September,28,165,927,2.290000e+08,756
1963,Edith,"Hispaniola, Turks and Caicos Islands, The Baha...",October,17,100,948,5.000000e+02,5
1962,Alma,"Leeward Islands, Bermuda, New England, Atlanti...",August,26,85,963,1.000000e+06,1
1961,Anna,"Cape Verde, Azores, Ireland, United Kingdom, N...",July,6,90,975,3.000000e+02,1
1960,Abby,"Lesser Antilles, Puerto Rico, Leeward Antilles...",July,9,80,995,6.400000e+02,6
1959,Cindy,"Florida, Atlantic Canada",July,4,75,974,7.500000e+01,0
1958,Ella,"Haiti, Dominican Republic, Cuba, Louisiana, Texas",August,4,100,968,1.000000e+02,9
1956,Anna,"Cuba, Bahamas, Florida, Guadeloupe",July,20,85,970,5.000000e+01,0
1955,Alice,"Central America, Dominican Republic, Hispaniol...",August,3,90,914,2.000000e+02,0
1954,Alice,Mexico,June,24,110,975,2.000000e+06,56
1953,Barbara,"Florida, Sable Island",August,7,85,973,2.500000e+02,0
1952,Able,"South Carolina, North Carolina, Virginia, Mary...",August,18,100,980,2.170000e+07,3
1951,Dog,"Martinique, Saint Lucia, Hispaniola, Jamaica",August,27,90,992,3.000000e+06,7
1950,Baker,"Leeward Islands, Puerto Rico, Hispaniola, Cuba...",August,18,105,978,2.500000e+06,38
1947,King,"Honduras, Florida, Alabama",October,8,105,965,3.260000e+06,1
1938,New England,"Eastern United States, Southwestern Quebec",September,19,160,940,3.060000e+08,682
1932,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,175,915,4.000000e+07,3103
1928,1928 Haiti hurricane,"Lesser Antilles, The Bahamas,United States Eas...",August,7,90,929,2.000000e+06,210

In [62]:
df.groupby(['Year']).min().sort_values('Deaths', ascending = False)

,Name,Areas affected,Month,Day,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
Year,,,,,,,,
1998,Mitch,"Central America, Yucatin Peninsula, South Florida",October,26,180,905,6.200000e+09,19325
1974,Fifi,"Hispaniola, Jamaica, Mexico, Central America",September,14,110,971,1.800000e+09,8210
1932,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,175,915,4.000000e+07,3103
1994,Gordon,"Central America, Cayman Islands, Jamaica, Hisp...",November,8,85,980,5.940000e+08,1152
1966,Inez,"Greater Antilles, Florida, Mexico",September,28,165,927,2.290000e+08,756
1938,New England,"Eastern United States, Southwestern Quebec",September,19,160,940,3.060000e+08,682
1980,Allen,"The Caribbean, Yucatin Peninsula, Mexico, Sout...",August,5,190,899,1.240000e+09,269
1928,1928 Haiti hurricane,"Lesser Antilles, The Bahamas,United States Eas...",August,7,90,929,2.000000e+06,210
2017,Irma,"Cape Verde, The Caribbean, Virgin Islands, Cub...",September,5,175,908,6.480000e+10,138
1972,Agnes,"Yucatin Peninsula, western Cuba, Florida Panha...",June,14,90,977,2.100000e+09,128
1992,Andrew,"The Bahamas, Florida, United States Gulf Coast",August,23,175,922,2.650000e+10,65
1954,Alice,Mexico,June,24,110,975,2.000000e+06,56
1950,Baker,"Leeward Islands, Puerto Rico, Hispaniola, Cuba...",August,18,105,978,2.500000e+06,38
1982,Alberto,"Cuba, Florida",June,1,85,985,8.500000e+07,23
1996,Cesar,"Cuba, Hispaniola, Central America, Jamaica, Fl...",July,16,75,983,8.200000e+06,15
1991,1991 Perfect Storm,"Northeastern United States, Mid-Atlantic state...",October,31,75,980,2.000000e+08,13
1968,Gladys,"Cuba, Florida, United States East Coast, Nova ...",October,13,85,965,1.870000e+07,11
1958,Ella,"Haiti, Dominican Republic, Cuba, Louisiana, Texas",August,4,100,968,1.000000e+02,9
2004,Gaston,"The Caribbean, Venezuela, United States Gulf C...",August,9,75,910,1.300000e+08,9
1997,Danny,"Louisiana, Alabama, Southeastern United States...",July,16,80,984,1.000000e+08,9
1990,Bertha,"Lesser Antilles, Puerto Rico, Hispaniola, Turk...",July,3,80,973,1.000000e+06,9
2008,Hanna,"Puerto Rico, Hispaniola, Bermuda, New England,...",August,25,85,977,5.710000e+07,8
1951,Dog,"Martinique, Saint Lucia, Hispaniola, Jamaica",August,27,90,992,3.000000e+06,7
2021,Larry,"Bermuda, Newfoundland",September,4,125,955,8.000000e+07,7
1960,Abby,"Lesser Antilles, Puerto Rico, Leeward Antilles...",July,9,80,995,6.400000e+02,6
1963,Edith,"Hispaniola, Turks and Caicos Islands, The Baha...",October,17,100,948,5.000000e+02,5
1986,Bonnie,"Texas, Louisiana, Southeastern United States",August,13,80,987,1.500000e+07,5
1969,Camille,"Cuba, United States Gulf Coast",August,16,90,900,3.000000e+07,5
1985,Bob,"Cuba, Mississippi",August,1,75,"1,002",2.000000e+07,5
1952,Able,"South Carolina, North Carolina, Virginia, Mary...",August,18,100,980,2.170000e+07,3
2005,Cindy,"Bahamas, United States Gulf Coast",August,1,75,895,7.000000e+07,3
1967,Doria,United States East Coast,September,8,85,973,1.500000e+02,3
2003,Claudette,"Florida, Mexico, Southern Texas",August,8,75,915,1.000000e+02,2
1984,Klaus,"Puerto Rico, Leeward Islands",November,5,90,971,1.520000e+08,2
2019,Dorian,"Dominican Republic, Haiti, Cuba, The Bahamas, ...",September,1,125,910,2.500000e+07,2
1995,Allison,"Yucatin Peninsula, western Cuba, Florida, Geor...",June,3,75,987,1.700000e+06,1
2002,Kyle,"Bermuda, Florida, Georgia, The Carolinas, Brit...",September,20,85,980,5.000000e+06,1
2000,Debby,"Belize, Yucatin Peninsula, Cuba, United States...",August,14,80,981,7.350000e+02,1
1947,King,"Honduras, Florida, Alabama",October,8,105,965,3.260000e+06,1
1971,Beth,"Bahamas, North Carolina",August,3,80,959,1.000000e+06,1
1962,Alma,"Leeward Islands, Bermuda, New England, Atlanti...",August,26,85,963,1.000000e+06,1
1961,Anna,"Cape Verde, Azores, Ireland, United Kingdom, N...",July,6,90,975,3.000000e+02,1
1978,Kendra,"Puerto Rico, United States East Coast",October,28,80,990,6.000000e+06,1
1979,Bob,"Louisiana, Mississippi, Alabama, Midwestern Un...",August,9,75,924,2.000000e+07,1
1988,Florence,"Jamaica, Venezuela, Central America, Hispaniol...",September,7,80,888,2.900000e+06,1
2007,Dean,Central Mexico,August,3,80,905,5.000000e+07,1
2006,Ernesto,"Bermuda, Newfoundland, United States East Coas...",August,3,75,974,2.000000e+02,0
1959,Cindy,"Florida, Atlantic Canada",July,4,75,974,7.500000e+01,0
1956,Anna,"Cuba, Bahamas, Florida, Guadeloupe",July,20,85,970,5.000000e+01,0
1981,Dennis,"Lesser Antilles, Greater Antilles, The Bahamas...",August,7,80,995,1.500000e+07,0
2001,Karen,"Bermuda, Atlantic Canada",October,12,80,982,1.400000e+06,0
1977,Babe,"Florida, Louisiana, Alabama, Mississippi, Tenn...",September,3,75,995,1.300000e+07,0
1953,Barbara,"Florida, Sable Island",August,7,85,973,2.500000e+02,0
1989,Chantal,"Leeward Islands, Bermuda, North Carolina, Newf...",July,12,80,968,8.900000e+06,0
1987,Arlene,"Cuba, Florida, The Bahamas",August,9,75,987,8.000000e+00,0
1955,Alice,"Central America, Dominican Republic, Hispaniol...",August,3,90,914,2.000000e+02,0
1975,Blanche,"Maine, Nova Scotia",July,23,85,980,6.200000e+06,0